Mit Colab kann **dieses Jupyter-Notebook interaktiv im Browser** gestartet werden: 
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://github.com/DonGoginho/myPy/blob/main/ckan_datastore_queries/ckan_datastore_api_beispiele.ipynb)

# Beispielsabfragen auf das CKAN Datastore-API

Tabellarische CSV-Dateien sind auf dem [Open-Data-Katalaog](https://data.stadt-zuerich.ch/) (meistens) nebst dem normalen Download auch via **Datastore CKAN-API** verfügbar. 
Weiterführende Information dazu findest Du in der zentralen CKAN [**Data-API-**](https://docs.ckan.org/en/latest/maintaining/datastore.html#making-a-data-api-request) und [DataStore-](https://docs.ckan.org/en/latest/maintaining/datastore.html#datastore-extension) Dokumentation... . Leider ist diese nicht immer ganz hilfreich. Daher hier noch ein paar konkrete Beispiele.

In [1]:
%pip install requests pandas

Requirement already satisfied: requests in c:\programdata\anaconda3\envs\gis_env\lib\site-packages (2.26.0)
Requirement already satisfied: pandas in c:\programdata\anaconda3\envs\gis_env\lib\site-packages (1.3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\envs\gis_env\lib\site-packages (from requests) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\envs\gis_env\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\envs\gis_env\lib\site-packages (from requests) (2.0.0)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\envs\gis_env\lib\site-packages (from requests) (3.1)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\envs\gis_env\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\envs\gis_env\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\envs\gis_env\lib\site-packages (from pandas) (1.21.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\envs\gis_env\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import requests
from pprint import pprint
import pandas as pd
import random

In [3]:
SSL_VERIFY = True
# evtl. SSL_VERIFY auf False setzen wenn die Verbindung zu https://www.gemeinderat-zuerich.ch nicht klappt (z.B. wegen Proxy)
# Um die SSL Verifikation auszustellen, bitte die nächste Zeile einkommentieren ("#" entfernen)
# SSL_VERIFY = False

In [18]:
if not SSL_VERIFY:
    import urllib3
    urllib3.disable_warnings()

Siehe dazu https://docs.ckan.org/en/2.9/maintaining/datastore.html#ckanext.datastore.logic.action.datastore_search

In [88]:
import requests
SSL_VERIFY = True

#query = {'resource_id': 'a90b0184-c809-48b4-87ca-91e5811da885'} #, 'records':'StichtagDatJahr', }

query = {'resource_id': '7d2ca442-ebdf-4f9c-8f29-a474fd05673c', 'limit':32000,}
headers = {'Accept': 'application/json'}
r = requests.get('https://data.stadt-zuerich.ch/api/3/action/datastore_search', 
                 params=query, 
                 headers=headers, 
                 verify=SSL_VERIFY)
data = r.json()
print(query)
#data

{'resource_id': '7d2ca442-ebdf-4f9c-8f29-a474fd05673c', 'limit': 32000}

In [89]:
records = data['result']['records']
df_records = pd.DataFrame(records)
#df_records.head(100)
df_records.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8575 entries, 0 to 8574
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               8575 non-null   int64
 1   HUNDENAME         8574 non-null   object
 2   GEBURTSJAHR_HUND  8574 non-null   float64
 3   GESCHLECHT_HUND   8574 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 268.1+ KB

In [91]:
rockies = df_records.query('HUNDENAME == "Luna" & GEBURTSJAHR_HUND > 2018')
rockies

       _id HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND
4777  4778      Luna            2020.0               w
4778  4779      Luna            2020.0               w
4779  4780      Luna            2020.0               w
4780  4781      Luna            2020.0               w
4781  4782      Luna            2020.0               w
4782  4783      Luna            2020.0               w
4785  4786      Luna            2020.0               w
4786  4787      Luna            2020.0               w
4788  4789      Luna            2020.0               w
4789  4790      Luna            2020.0               w
4790  4791      Luna            2020.0               w
4792  4793      Luna            2019.0               w
4794  4795      Luna            2020.0               w
4798  4799      Luna            2020.0               w
4799  4800      Luna            2019.0               w
4800  4801      Luna            2019.0               w
4801  4802      Luna            2019.0               w
4802  4803      Luna            2019.0               w
4806  4807      Luna            2019.0               w
4850  4851      Luna            2019.0               w