# Testing
### Durchschnittliches Alter bei der Erstheirat, nach Geschlecht, seit 1993
Datum: 02.11.2021

**Importiere die notwendigen Packages**

In [1]:
#pip install geopandas fiona requests folium mplleaflet contextily

In [2]:
import pandas as pd
import pivottablejs
from pivottablejs import pivot_ui
import numpy as np
import altair as alt
import matplotlib.pyplot as plt
from datetime import datetime
import geopandas as gpd
import folium

Definiere Settings. Hier das Zahlenformat von Float-Werten (z.B. *'{:,.2f}'.format* mit Komma als Tausenderzeichen),

In [3]:
pd.options.display.float_format = '{:.0f}'.format
pd.set_option('display.width', 100)
pd.set_option('display.max_columns', 15)

Importiere einen Datensatz von der **DWH_INT** Dropzone.

- Beachte dabei die Notation des Pfades...
- Definiere mal aktuell noch keine weiteren Parameter beim Import

**Dataset auf INTEG Datenkatalog**: https://data.integ.stadt-zuerich.ch/dataset/int_dwh_bev_ehe_avg-alter_geschlecht_od3302

(int_dwh)

In [4]:
# Filepath
fp = r"\\szh\ssz\applikationen\OGD_Dropzone\INT_DWH\bev_ehe_avg-alter_geschlecht_OD3302\BEV330OD3302.csv"


# Read the data
data2betested = pd.read_csv(
    fp, 
    sep=',',
   #usecols=[0,1,2,3,4,6],
   #names=['stationid','year','month','avgtemp','latitude','longitude','elevation','station','countryid','country'],
   #skiprows=1,
   # parse_dates=[0],
    parse_dates=True,
    #date_parser=lambda x: pd.to_datetime(x, format="%Y"), 
    #index_col="date_time",
    low_memory=False    
    )

In der Folge ein paar erste Tests:

In [5]:
type(data2betested)

pandas.core.frame.DataFrame

 - 1) Zeige eine kurze Vorschau der importierten Daten
 - 2) Weise die Datentypen aus
 - 3) Zeige die Shape (Umfang) des Datensatzes an

In [6]:
data2betested.head(3)

   StichtagDatJahr   SexLang  SexCd  DurchAlter
0             1993  weiblich      2          28
1             1993  männlich      1          30
2             1994  weiblich      2          27

In [7]:
data2betested.dtypes

StichtagDatJahr      int64
SexLang             object
SexCd                int64
DurchAlter         float64
dtype: object

In [8]:
data2betested.shape

(56, 4)

Beschreibe einzelne Attribute

In [9]:
data2betested.describe()

       StichtagDatJahr  SexCd  DurchAlter
count               56     56          56
mean              2006      2          31
std                  8      1           2
min               1993      1          27
25%               2000      1          30
50%               2006      2          31
75%               2013      2          32
max               2020      2          34

Wie viele Nullwerte gibt es im Datensatz?

In [10]:
data2betested.isnull().sum()

StichtagDatJahr    0
SexLang            0
SexCd              0
DurchAlter         0
dtype: int64

Wandle die Spalte Jahr von Int zu **Datetime** um. Dies wird in den meisten Grafiken so benötigt.

In [11]:
data2betested['StichtagDatJahr']=pd.to_datetime(data2betested['StichtagDatJahr'], format='%Y')

#TO DO --> setze das Datum auf den 31.12. der Jahres.
#test=data2betested[['StichtagDatJahr']].date().replace(month=12, day=31)

data2betested

   StichtagDatJahr   SexLang  SexCd  DurchAlter
0       1993-01-01  weiblich      2          28
1       1993-01-01  männlich      1          30
2       1994-01-01  weiblich      2          27
3       1994-01-01  männlich      1          30
4       1995-01-01  weiblich      2          28
5       1995-01-01  männlich      1          30
6       1996-01-01  weiblich      2          27
7       1996-01-01  männlich      1          30
8       1997-01-01  weiblich      2          28
9       1997-01-01  männlich      1          30
10      1998-01-01  weiblich      2          28
11      1998-01-01  männlich      1          30
12      1999-01-01  weiblich      2          28
13      1999-01-01  männlich      1          31
14      2000-01-01  weiblich      2          28
15      2000-01-01  männlich      1          31
16      2001-01-01  weiblich      2          28
17      2001-01-01  männlich      1          31
18      2002-01-01  weiblich      2          29
19      2002-01-01  männlich      1          31
20      2003-01-01  weiblich      2          29
21      2003-01-01  männlich      1          31
22      2004-01-01  weiblich      2          29
23      2004-01-01  männlich      1          32
24      2005-01-01  weiblich      2          30
25      2005-01-01  männlich      1          32
26      2006-01-01  weiblich      2          30
27      2006-01-01  männlich      1          32
28      2007-01-01  weiblich      2          30
29      2007-01-01  männlich      1          32
30      2008-01-01  weiblich      2          30
31      2008-01-01  männlich      1          33
32      2009-01-01  weiblich      2          31
33      2009-01-01  männlich      1          33
34      2010-01-01  weiblich      2          31
35      2010-01-01  männlich      1          33
36      2011-01-01  weiblich      2          31
37      2011-01-01  männlich      1          33
38      2012-01-01  weiblich      2          31
39      2012-01-01  männlich      1          33
40      2013-01-01  weiblich      2          31
41      2013-01-01  männlich      1          34
42      2014-01-01  weiblich      2          31
43      2014-01-01  männlich      1          34
44      2015-01-01  weiblich      2          31
45      2015-01-01  männlich      1          34
46      2016-01-01  weiblich      2          31
47      2016-01-01  männlich      1          34
48      2017-01-01  weiblich      2          32
49      2017-01-01  männlich      1          34
50      2018-01-01  weiblich      2          32
51      2018-01-01  männlich      1          34
52      2019-01-01  weiblich      2          32
53      2019-01-01  männlich      1          34
54      2020-01-01  weiblich      2          32
55      2020-01-01  männlich      1          34

Bereite die Daten für die Grafik unten vor

In [12]:
Jahre = data2betested.groupby("StichtagDatJahr")
len(Jahre)

28

In [13]:
for key, group in Jahre:
    print(key, len(group))

1993-01-01 00:00:00 2
1994-01-01 00:00:00 2
1995-01-01 00:00:00 2
1996-01-01 00:00:00 2
1997-01-01 00:00:00 2
1998-01-01 00:00:00 2
1999-01-01 00:00:00 2
2000-01-01 00:00:00 2
2001-01-01 00:00:00 2
2002-01-01 00:00:00 2
2003-01-01 00:00:00 2
2004-01-01 00:00:00 2
2005-01-01 00:00:00 2
2006-01-01 00:00:00 2
2007-01-01 00:00:00 2
2008-01-01 00:00:00 2
2009-01-01 00:00:00 2
2010-01-01 00:00:00 2
2011-01-01 00:00:00 2
2012-01-01 00:00:00 2
2013-01-01 00:00:00 2
2014-01-01 00:00:00 2
2015-01-01 00:00:00 2
2016-01-01 00:00:00 2
2017-01-01 00:00:00 2
2018-01-01 00:00:00 2
2019-01-01 00:00:00 2
2020-01-01 00:00:00 2

In [14]:
myJahr = "2020-01-01"
aktuellesJahr=Jahre.get_group(myJahr)   
aktuellesJahr

   StichtagDatJahr   SexLang  SexCd  DurchAlter
54      2020-01-01  weiblich      2          32
55      2020-01-01  männlich      1          34

**Selektionen und Aggregationen**

Check this [Doku](https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/)

In [15]:
#test = data2betested.groupby(['StichtagDatJahr', 'AlterV20Kurz'])[['AnzBestWir']].agg()

# produces Pandas Series
    #data2betested.groupby(['StichtagDatJahr', 'KonOGDSort'])['AnzBestWir'].sum()
# Produces Pandas DataFrame
    #data2betested.groupby(['StichtagDatJahr', 'KonOGDSort'])[['AnzBestWir']].sum()

**Einfache Visualisierungen zur Plausi**

Exploriere die Daten mit Pivottable.JS

In [16]:
from pivottablejs import pivot_ui

pivot_ui(data2betested)

Liniendiagramm 
[Link zur Doku](https://altair-viz.github.io/gallery/multiline_highlight.html)

In [19]:
data2betested.head()

  StichtagDatJahr   SexLang  SexCd  DurchAlter
0      1993-01-01  weiblich      2          28
1      1993-01-01  männlich      1          30
2      1994-01-01  weiblich      2          27
3      1994-01-01  männlich      1          30
4      1995-01-01  weiblich      2          28

In [20]:
# df_statzonen = df_statzonen[(df_statzonen.knr>0) & (df_statzonen.qname!="Hirslanden")]
#mySelection[[mySelection.NationFHistLang =='Schweiz']]


highlight = alt.selection(type='single', on='mouseover',
                          fields=['SexLang'], nearest=True)
#x='date:StichtagDatJahr',
base = alt.Chart(data2betested).encode(
    x='StichtagDatJahr',
    y='DurchAlter',
    color='SexLang'
)

points = base.mark_circle().encode(
    opacity=alt.value(2)
).add_selection(
    highlight
).properties(
    width=700 , height=300
)
lines = base.mark_line().encode(
    size=alt.condition(~highlight, alt.value(1.5), alt.value(4))
).interactive()

points + lines

alt.LayerChart(...)

In [21]:
alt.Chart(data2betested).mark_circle(size=60).encode(
    x='StichtagDatJahr',
    y='DurchAlter',
    #color='AnzNat',
    #color=alt.Color('AnzNat', scale=alt.Scale(scheme='greens')),
    color=alt.Color('SexLang', scale=alt.Scale(scheme='dark2')),
    tooltip=['StichtagDatJahr','SexLang','DurchAlter']
).interactive() # this makes the axes interactive: now you can zoom & pan

alt.Chart(...)

**Sharepoint als gecheckt markieren!**

Record auf Sharepoint: **[Link](http://kollaboration.intranet.stzh.ch/orga/ssz-produkte/Lists/SASA_Outputs/EditForm.aspx?ID=52&Source=%2Forga%2Fssz%2Dprodukte%2FLists%2FSASA%5FOutputs)**